@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --switch-track: 0 0% 85%;
    --switch-thumb: 0 0% 0%;
    --border: 0 0% 80%;
    --ring: 0 0% 0%;
  }

  .dark-mode {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --switch-track: 0 0% 30%;
    --switch-thumb: 0 0% 100%;
    --border: 0 0% 20%;
    --ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-500;
  }
}
